* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(46, 46, 94, 0.9612219888) 37%, rgb(217, 246, 252) 100%);
  color: rgb(0, 0, 0);
}

header .logo {
  height: 80px;
  width: 80px;
}
header .borderAbajo {
  border-bottom: solid 3px rgb(226, 226, 226);
}
header .linknav :hover {
  text-decoration: none;
  background-color: rgb(111, 160, 144);
  border: solid black 1px;
  border-radius: 5%;
  color: white;
  font-weight: bold;
}

footer {
  background-color: black;
}

@media screen and (max-width: 768px) {
  .footerC {
    text-align: center;
  }
}
.imagen {
  height: 100%;
  width: 100%;
  background-image: url(../assets/img/tienda2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cover {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.textoJustificado {
  text-align: justify;
}

.ceter {
  text-align: center;
}

.marginTopF {
  margin-top: 10px;
  border-top: solid 3px rgb(189, 188, 188);
}

.linkN, .linkF {
  text-decoration: none;
  color: gray;
}

.linkF {
  color: aliceblue;
  border: solid red 1px;
  border-radius: 15px;
}

.marginB {
  margin-bottom: 15px;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fillImage {
  width: 100%;
}

.blue {
  background-color: blue;
}

.fondotext {
  background: white;
}

span {
  font-weight: bold;
  color: brown;
}