*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(44, 44, 44);
    color: rgb(161, 161, 161);
}

.logo{
    height: 80px;
    width: 80px;
}

.borderAbajo{
    border-bottom: solid 3px rgb(226, 226, 226);
}

.textoJustificado{
    text-align: justify;
}
.ceter{
    text-align: center;
}
.marginTopF{
    margin-top: 10px;
    border-top: solid 3px rgb(189, 188, 188);
}
.linkN{
    text-decoration: none;
    color: gray;
}
.marginB{
    margin-bottom: 15px;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.evenly
{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
}

.fillImage{
    width: 100%;
}

.blue{
    background-color: blue;
}

@media screen and (max-width: 768px){
    .footerC{
        text-align: center;
    }
}
    
