$color-fondo: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,46,94,0.9612219887955182) 37%, rgba(217,246,252,1) 100%);
$color-texto: rgb(0, 0, 0);
$color-footer: black;
$h-logo: 80px;
$w-logo: 80px;
$borde-abajo: solid 3px rgb(226, 226, 226);
$fondo-texto: white;

$alturas:(
    h80: 80px,
    w80: 80px,
)